body {
  width: 100%;
  font-family: 'Roboto',sans-serif;
  margin: 0;
  background: #eaeaea;
  clear: both;
  background: linear-gradient(#c1dbdd, #f5d0d0);
  background-attachment: fixed;
}

.index {
  width: 70%;
  text-align: center;
  padding: 60px;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: rgba(0,0,0,.7);
  font-weight: 600;
  text-shadow: 1px 1px 0px #4f34da,
               2px 2px 0px #4f34da,
               3px 3px 0px #4f34da;
  margin: 100px auto;
  border: 1px solid transparent;
}

.effect1 {
  background: #d89ddc;
  box-shadow: 30px 0px 0px 0px rgba(0,0,0,.1),
              0px 30px 0px 0px rgba(0,0,0,.1),
              -30px 0px 0px 0px rgba(0,0,0,.1),
              0px -30px 0px 0px rgba(0,0,0,.1);
}

.effect2 {
  background: #a6d89a;
  box-shadow: inset 30px 0px 0px 0px rgba(0,0,0,.1),
              inset 0px 30px 0px 0px rgba(0,0,0,.1),
              inset -30px 0px 0px 0px rgba(0,0,0,.1),
              inset 0px -30px 0px 0px rgba(0,0,0,.1);
}

.effect3 {
  background: #f2876d;
  box-shadow: 0px 0px 80px 0px rgba(0,0,0,.6),
              inset 0px 0px 40px 0px rgba(0,0,0,.1);
}

.effect4 {
  background: #c82d9e;
  box-shadow: 8px 8px 0px 0px rgba(0,0,0,.6),
              -8px -8px 0px 0px rgba(0,0,0,.6);
}

.effect5 {
  background: #4f8ec1;
  position: relative;
}

.effect5:before,
.effect5:after {
  z-index: -1;
  content: "";
  position: absolute;
  bottom: 19px;
  top: 100px;
  width: 70%;
  max-width: 350px;
  background: transparent;
  box-shadow: 0px 30px 40px 0px #666;
}

.effect5:before {
  left: 8px;
  transform: rotate(-5deg);
}

.effect5:after {
  right: 10px;
  transform: rotate(5deg);
}

.effect6 {
  background: #836df3;
  position: relative;
}

.effect6:after,
.effect6:before {
  z-index: -1;
  display: block;
  margin: 0 auto;
  content: "";
  position: absolute;
  left: 10px;
  right: 10px;
  width: 100%;
  max-width: 80%;
  border-radius: 50px;
  background: #555;
}

.effect6:before {
  top: 10px;
  bottom: 100px;
  box-shadow: -20px 0px 80px 0px #676767,
              0px -20px 80px 0px #676767;
}

.effect6:after {
  top: 100px;
  bottom: 10px;
  box-shadow: 20px 0px 80px 0px #676767,
              0px 20px 80px 0px #676767;
}
